@charset "UTF-8";

html{
    font-size: 19px;
}

body {
    background-color: black;
    color: silver;
    text-align: center;
}

div#containter{
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    background-color: #111111;
}

div#novel p{
    display: flex;
    justify-content: space-between;
}

p#stealth{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: auto;
    opacity: 0.5;
}