@charset "UTF-8";

html{
    font-size: 19px;
}

body {
    background-color: black;
    color: silver;
    text-align: center;
    font-family: Sawarabi Mincho, Sawarabi Gothic, Hiragino Kaku Gothic ProN W3, Helvetica, Meiryo, Tahoma;
}

p{
    font-size: 1rem;
}

div#containter{
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    background-color: #111111;
}

div#novel p{
    /*display: flex;*/
    /*justify-content: space-between;*/
    text-align: left;
}

p#stealth{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: auto;
    opacity: 0.5;
}